*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background: linear-gradient(to right, #074050, #105965, #217A79, #4C9B82, #6CC08B, #97E196, #D2F1A2);
  font-family: 'Lato', sans-serif;
}



.calculator-grid, .box {
  display: grid;
  margin-top: 1rem;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(5rem, auto) repeat(5, 5rem);
  column-gap: 25px;
  row-gap: 25px;
}

.calculator-grid {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  
}

.size-two {
  grid-column: span 2;
  
  
}

.red {
  background-color: #f36140;
  border-left: 0px solid;
  border-right: 0px solid;
  border-top: 0px solid;
  border-bottom: 5px solid #a84c38;
  color: white;
}

.grey {
  background-color: #00718A;
  border-left: 0px solid;
  border-right: 0px solid;
  border-top: 0px solid;
  border-bottom: 5px solid #006075;
  color: white;
  
}


.box {
  background-color: #3872719f;
  width: 34rem;
  padding: 45px;
  justify-content: center;
  height: 38rem;
  border-radius: 20px;
}


.calculator-output {
  grid-column: 1 / -1;
  background-color: #1d3b42b2;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: .75rem;
  word-wrap: break-word;
  word-break: break-all;
  margin-top:5rem;
  min-height: 7rem;
  min-width: 34rem;
  max-width: 34rem;
  border-radius: 10px;
  margin-bottom: -10px;
  line-break: strict;
}

 button {
  cursor: pointer;
  font-size: 1.5rem;
  background-color: #ffffff;
  border-left: 0px solid;
  border-right: 0px solid;
  border-top: 0px solid;
  border-bottom: 5px solid #cecccc;
  border-radius: 10px;
  font-family: 'Lato', sans-serif;
}




.calculator-grid > .box > button:active {
  border-color: rgba(255, 255, 255, 1);
  border-left: 0px solid;
  border-right: 0px solid;
  border-top: 0px solid;
  border-bottom: 0px solid;
  
}

.calculator-output .prev-number {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.calculator-output .current-number {
  color: rgba(255, 255, 255);
  font-size: 2.5rem;
}

@media(max-width: 425px) {
  .calculator-grid {
    width: 100px;
    margin-left: 180px;
  }

  .box {
    width: 400px;
  }

  .calculator-grid, .box {
    
    grid-template-columns: repeat(4, 4.5rem);
    grid-template-rows: minmax(5rem, auto) repeat(5, 5rem);
    column-gap: 25px;
    row-gap: 25px;
    
    
  }

  .calculator-output {
    min-width: 25rem;
    max-width: 27rem;
    margin-left: -5px;
  }

  .calculator-grid, .box, .calculator-output {
    margin-right: 70px;
  }


}

@media(max-width: 375px) {
  .calculator-grid {
    width: 100px;
    margin-left: 200px;
  }
  
  .box {
    width: 22rem;
  }
  
  .calculator-output {
    min-width: 22rem;

  }

  .calculator-output, .box {
    margin-left: -60px;
  }

  .calculator-grid, .box {
    grid-template-columns: repeat(4, 4rem);
    grid-template-rows: minmax(4rem, auto) repeat(5, 5rem);
    column-gap: 25px;
    row-gap: 25px;
  }
}

@media(max-width: 320px) {
  .calculator-output, .box {
    margin-left: -110px;
  }

  .calculator-grid, .box {
    grid-template-columns: repeat(3, 4rem);
    grid-template-rows: minmax(4rem, auto) repeat(5, 5rem);
    column-gap: 25px;
    row-gap: 25px;
    margin-top: -20px;
  }

  .calculator-output {
    min-width: 19rem;
  }

  .box {
    width: 19rem;
    height: 50rem;
    margin-top: 20px;
  }

  .red {
    width: 15rem;
  }
}
